/* Base page styles */
h2 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  
  &.no-separator {
    border: none;
  }
}

.colk{
  position: relative;
  width: 660px;
  height:300px;
}

/* Base Button Style */
.btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  
  background-color: #fff;
  border: 1px solid #ccc;

  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  transform-style: flat;
  transition: all 250ms ease-out;
  
  &:before,
  &:after {
      content: "";
      position: absolute;
      z-index: -2;
    	transition: all 250ms ease-out;
  }
}

/* Paper effect – slightly raised off background */
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}


/* Curl effects – curls corners on hover */

.paper-curl-right { 
    bottom: 12px;
    width: 50%;
    height: 55%;
    max-width: 200px;
    max-height: 100px;
	 box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
  
  &:before {
    left: 10px;
  }
  &:after {
    right: 10px;
  }
  
  &:hover {
      box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
  
    &:before {
	    transform: skew(-8deg) rotate(-3deg);
    }
    &:after {
      transform: skew(8deg) rotate(3deg);
    }
  }
}

.button {
  display       : inline-block;
  font-size     : 20pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ffffc0;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
}
.button:hover {
}
  

